# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
bower_components/

# Build directories
dist/
build/

# Vite cache
.vite/

# Firebase
firebase-debug.log
.firebaserc

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store